*.py[cod]
__pycache__
.pytest_cache
default.db

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist
/build
/eggs
/parts
/bin
/var
/sdist
/develop-eggs
/.installed.cfg
/lib
/lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache/
.pytest_cache/
.coverage
.coverage.*
.tox
coverage.xml
htmlcov/

.vscode/

# The Silver Searcher
.agignore

# OS X artifacts
*.DS_Store

# Logging
log/
logs/
chromedriver.log
ghostdriver.log

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/modules.rst
docs/edx_ledger.rst
docs/edx_ledger.*.rst

# Private requirements
requirements/private.in
requirements/private.txt

# IDEs and Editors
*~

# pyenv
.python-version

# reporting for PII in models
pii_report/
